{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block extra_css %}
<!-- My CSS Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
<!-- highlight Typst Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/syntax-highlight.css') }}">
<!-- hint Typst Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/hint.css') }}">
{% endblock %}

{% block content %}
<div class="blank" style="padding: 35px 0; margin: 0;"></div>
<section class="editor-section">            
    <div class="editor-container">
        <!-- Input: Typst Code Editor -->
        <article class="code-panel">
            <div class="title">Input Area</div>
            <div class="selections-container">
                <div class="environment-select">
                    <button type="button" id="passage-btn">Passage</button>
                    <button type="button" id="inline-formula-btn">Inline Formula</button>
                    <button type="button" id="interline-formula-btn">Interline Formula</button>
                </div>
                <div class="button-group">
                    <button type="button" id="like-btn" title="Like(Ctrl+K)"></button>
                    <button type="button" id="clear-btn" title="Clear(Ctrl+C)"></button>
                </div>
            </div>
            <textarea 
                id="typst-code" 
                placeholder="Input Typst Code Here"
                aria-label="Typst Editor"></textarea>
        </article>
        
        <!-- Output: SVG Figure Preview -->
        <article class="preview-panel">
            <div class="title">Output Area</div>
            <div id="preview-area" role="region" aria-label="Output Preview Area">
                <p style="color: #666;">Output will be Shown Here!</p>
            </div>
            <div id="error-area" role="alert" aria-live="polite"></div>
        </article>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<!-- My JavaScript Files -->
<script type="module" src="{{ url_for('static', filename='js/editor.js') }}"></script>
<!-- compile Typst Code -->
<script type="module" src="{{ url_for('static', filename='js/compile.js') }}"></script>
<!-- highlight Typst Code -->
<script type="module" src="{{ url_for('static', filename='js/syntax-highlight.js') }}"></script>
<!-- hint Typst Files -->
 <script type="module" src="{{ url_for('static', filename='js/hint.js') }}"></script>
{% endblock %}